body::-webkit-scrollbar {
  display: none;
}
.main {
  margin-bottom: 50px;
}
.card {
  position: relative;
  width: 90%;
  height: 250px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 245, 248, 1) 35%,
    rgba(236, 236, 237, 1) 100%
  );
  box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 30px;
  transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;

  &:hover {
    margin-left: 6%;
    background-color: #ffff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;
  }
}

.post-image {
  width: 200px;
  height: 220px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px 10px 10px;
  float: left;
}
.post-content {
  width: 55%;
  height: 250px;
  float: left;
  margin-left: 5px;
  overflow: hidden;
}
a:link {
  font-size: 28px;
  font-family: Lato;
  color: #3b3c3f;
  text-decoration: none;
}
.post-header {
  font-size: 30px;
  font-family: Lato;
  margin-top: 15px;
  color: #3b3c3f;
  margin-left: 10px;
  text-align: left;
}
.post-text {
  font-size: 15px;
  padding-left: 20px;
  color: #768ca4;
  font-family: 'Roboto', sans-serif;
}
.author {
  width: 100%;
  height: 60px;
  background-color: #f2f5f8;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  transform: scale(0.9);
}
.author-content {
  width: 60%;
  height: 60px;
  margin-left: 10px;
  float: left;
}
.author-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
.author-name {
  font-size: 20px;
  color: #3b3c3f;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 10px;
}
.date {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  padding-left: 10px;
}

.apply-btn button {
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  right: 100px;
  // background-color: transparent;
  // border: 1px solid salmon;
}
