$white: #eee;

.main-dash {
  padding-top: 70px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

.col1 {
  align-items: right;
  padding-top: 200px;

  /* Customize the label (the label-container) */
  .label-container {
    margin-left: 100px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .label-container input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .label-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .label-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.filter {
  position: sticky;
  top: 100px;
}
.col3 {
  a {
    display: block;
    transform: scale(0.5);
  }
  button {
    width: 100%;
    position: sticky;
    top: 100px;
    margin-left: 0px;
    margin-top: 200px;
  }
}

#container {
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
