@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import 'Utils/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}
body {
  background: linear-gradient(-45deg, $primary-blue, $secondary-blue);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.app {
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
